services:
    api-gateway:
        build:
            context: ./services/api-gateway
            containerfile: Containerfile
        ports:
            - "50051:50051"
        volumes:
            - proto:/app/proto:ro
        env_file:
            - .env

    whisper-service:
        build:
            context: ./services/whisper-service
            containerfile: Containerfile
        ports:
            - "50052:50052"
        volumes:
            - proto:/app/proto:ro
        env_file:
            - .env

    telegram-bot:
        build:
            context: ./services/telegram-bot
            containerfile: Containerfile
        volumes:
            - proto:/app/proto:ro
        env_file:
            - .env

volumes:
    proto:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ./proto
